<!-- "form_for" is a form helper to generate a form -->
<!-- it also connect a form with model object -->
<!-- f is called "form builder" and generates HTML -->

<div class="panel panel-default">
    <div class="panel-heading">
        メッセージ一覧
    </div>
    <div class="panel-body">
        <% @messages.each do |message| %>
            <span class="label label-into"><%= message.name %></span>
            <%= message.body %>
            <br>
        <% end  %>
    </div>
</div>

<%= form_for(@message) do |f| %>
    <% if @message.errors.present? %>
        <div class="alert alert-danger">
            <%= alert %>
            <ul>
                <!-- Modelのバリデーションエラーはerrorsにセットされている-->
                <!-- each は配列等に用意されているメソッド。-->
                <% @message.errors.full_messages.each do |full_message|  %>
                    <li>
                        <%= full_message %>
                    </li>
                <% end %>
            </ul>
        </div>
    <% end %>
    
    名前：
    <!--  generates <input type="text" name="message[name]" id="message_name" /> -->
    <%= f.text_field :name %>
    
    内容：
    <!--  generates <input type="text" name="message[body]" id="message_body" /> -->
    <%= f.text_area :body %>
    
    <!--  generates <input type="submit" name="commit" value="Create Message" /> -->
    <%= f.submit class:"btn btn-sm btn-primary"%>
<% end %>

<!--  <form class="new_message" id="new_message"  -->
<!--        action="/messages" accept-charset="UTF-8" method="post">-->
    